*{
    margin: 0;
    padding: 0;
    border: 0;
 ;
font-family: 'Noto Sans', sans-serif;
;
   
}


body {
    background-color: #fff;
    color: #000;
}

/* Estilos para el tema oscuro 
.dark-mode   {
    background-color: #000;
    color: #fff;
}*/

.modals{display: flex;
    border:solid 0.5px rgb(173, 173, 173);
    justify-content: center;
     height: 0%;    flex-direction: column;
    width: 14vw;
    border-radius: 1rem;
    position: absolute;
    left: 83vw;
   
background-color: white;
  
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.modals > div {
    display: none;
     
}




.Modal .modals{


height: 25vh;
}

.Modal .modals > div{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 33%;
    border-radius: 7px;
    flex-direction: row;
    gap: 1rem;

   
}

.Modal .modals > div > span{

color: #4F4F4F;

}

.Modal .modals > div > p{

    font-weight: 800;
}

.Modal .modals > div:nth-child(3) > span{

    color:  #EB5757;
    
    
    }

    .Modal .modals > div:nth-child(3) > a > p {
        font-weight: 800;
        color:  #EB5757;
        
        
        }
    

.Modal .modals > div:nth-child(2) {
   
   
    border-bottom: solid 0.5px grey;
    border-radius: 0%;
    
}

.Modal .modals > div:hover{
border-radius: 10px;
    background-color: #E0E0E0;
}

nav{ 
    padding: 2rem;

display: flex;
justify-content: space-between;
height: 3vh;
align-items: center;

}





.container-all{


    height: 100vh;
    display: flex;
    justify-content: center;
  align-items: center;
}

.container-login{

display: flex;
 
    border: solid rgb(186, 186, 186) 1px;
    border-radius: 14px;
    height: 60vh;
    width: 23vw;
    justify-content: center;
    padding: 1rem ;
}


.input-login{

border-radius: 5px;
height: 5vh;



}

.material-symbols-outlined{
    color:grey
}


.input-logs{
    border: solid 1px grey;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 3px;
}



.button-blue{
  color:white;
  border-radius: 7px;
  height: 5vh;
  width: 100%;
   background-color:  rgb(12, 140, 233)

}

.botoncito-social{background-color: white;

}

.tab-content{

    display: flex;
    gap: 2rem;
}

.button {
    border:solid
}


.form-1{
    justify-content: center;

 width: 18vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-social-buttons{

    display: flex;
    gap: 1rem;
 
    
    justify-content: center;

}

.svg-social{

    border-radius: 100%;
    background-color: white;
}

.svg-social:hover{

  background-color: rgb(34, 42, 18);
}

.first-title{

    display: none;
}


.login-2{

    display: none;
}


.container-p-imformation{


 
    border-radius: 7px;
    height: 70vh;
    width: 40vw;
}





.container-inf {
       
    border: solid 1px  #E0E0E0;
    ;
    height: 5vh;
    display: flex;
    gap: 3rem;
    padding: 1rem;
   justify-content:space-between
;align-content: center
; align-items: center;

}

.overflow-ellipsis {
    text-overflow: ellipsis;
  
    height: 3vh; 
    width: 25vw;
    /* BOTH of the following are required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
  }


.container-infomacion{
width: 25vw;

display: flex;
 height: 7vh;
align-items: center;
}


.back{
 color:#2D9CDB;

    display: flex;
    padding-left: 28vw;
    align-items: center;
   text-align: center;
   font-size: 10px;
}

.material-symbols-outlined {
font-size: small;
    color:#2D9CDB;
}

.foto{
    gap: 2vw;
align-items: center;
    display: flex;
}

.btn-logout{
    border:solid grey 1px ; 
    border-radius: 15px ;
     background: white; 
     height:5vh; 
     width:5vw
    

}

.btn-logout > a > p:hover { 
color:red

}

input{

    outline: none;
}

@media (max-width: 768px){

    .container-all{
      display: flex;
    align-items: start;
    justify-content: start;

    }

    .container-login{
border: none;
        width: 100%;
    }

.form-1{

width: 80vw;

height: 80vh;
}



.input-logs{
    height: 7vh;
}



.button-blue{
height: 7vh;

}


#container-all{


justify-content: center;

}


#container-p-imformation{
    padding-top: 2rem;
 
    width: 95vw;
}
#container-inf{
    border-bottom: 1rem red;
    border: none;
}

#container-edit{

border: solid;
justify-content: center;


}


}




