nav{

    display: flex;
}

.ctn-seccion-elements{

    display: flex; 
    gap:1rem;
     height: 5vh 
}

main{

    height: 90vh; 
    width: 40%; 
    border:solid 1px grey; 
    border-radius:16px;
     padding:0.5rem; 
 
     
 
 }


 .input-form{

    border: solid 1px grey; 
    border-radius:5px;
     height:5vh; 
     width: 18vw
 }

 .btn-save{

    width:5vw; 
    height: 4vh ; 
    background: rgb(38, 129, 242); 
    color:white ; 
    border-radius:4px
 }

 .back{
    color:#2D9CDB;
   
       display: flex;
       padding-left: 28vw;
       align-items: center;
      text-align: center;
      font-size: 10px;
   }


   .foto{
    gap: 2vw;
align-items: center;
    display: flex;
   
}

.photo-nav{

   width: 40px;
   height: 40px ;  border-radius:7px
}
   
@media (max-width: 768px){


main{
border: none;
width: 100vw;
height: 110vh;

}


.input-form{
    width: 100%;

  
}

.btn-save{
height: 5vh;
    width: 100%;
    
}

.back{

    padding-left: 5vw;
    font-size: 8px;
}

}

